<html>
    <style>
        .button {
            background-color: rgb(24, 31, 119);
            border: 4px;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 8px;
            margin-bottom: 4px;
        }
        .button:hover {
            background-color: rgb(54, 60, 153);
        }
    </style>
    <head>
    </head>
    <body>
        <h1>Recipes</h1>
        <form method="post" action="/">
            <div>
                <button class="button" name="category" value="Italian">Italian</button>
                <button class="button" name="category" value="Mexican">Mexican</button>
            </div>
            <div>
                <button class="button" name="category" value="Indian">Indian</button>
                <button class="button" name="category" value="Chinese">Chinese</button>
            </div>
        </form>
    </body>
</html>